.reg-form{
    background-image:url(roll-ball-world-cup-logo-copy-1.jpg);
    background-size:contain;
    background-repeat:no-repeat;
    background-position:right top;
}
.navbar-brand img {
    width: 70px;
}
#slidercontainer #SliderOne{
    height:450px;
    overflow:hidden;
}
/*Edit 22/6/2018 Start*/
#slidercontainer .overlay{
    background:rgba(0,0,0,0.3);
    top:0;
    left:0;
    height:100%;
    z-index:3
}
#slidercontainer .carousel-inner{
    height:100%;
}
#slidercontainer .carousel-item{
    height:100%;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
}
#slidercontainer .carousel-item:first-of-type {
    background-image: url(http://picsum.photos/1920/?image=53);
}
#slidercontainer .carousel-item:nth-of-type(2) {
    background-image: url(http://picsum.photos/1920/?image=33);
}
#slidercontainer .carousel-item:last-of-type{
    background-image:url(12645152_800727103390300_783724127642302295_n.jpg)
}

/*Edit 22/6/2018 End*/
.carousel-control-next, .carousel-control-prev {
    z-index:4;
}
#players_filter {
    right:0;
    top:7px;
    z-index: 3;
}
.news {
    width: 20rem;
}
.news-img {
    height:300px;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
}

.contain {
  position: relative;
  width: 50%;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.phto {
  display: block;
  width:100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  opacity : 1;
}

.over {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.contain:hover .phto{
  opacity: 0.3;
}

.contain:hover .middle{
  opacity: 1;
}

.txt {
  background-color: #000000;
  color: white;
  font-size: 16px;
  padding: 12px 15px;
  text-align: center;

}
@media(min-width:550px) {
    footer form.col-sm-5 {
        max-width: 250px;
    }
}
footer textarea {
    resize:none;
}
footer .container, footer {
    background-color: rgba(1,1,1,1);
}
footer .form-control {
    border: 0;
    border-bottom: 1px solid white;
}
